@model IEnumerable<lab03.Product>

@{
    ViewBag.Title = "TableResponsive";
}

<h2>TableResponsive</h2>

<p>
    @Html.ActionLink("Create Table", "Index")
</p>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title><Table> Responsive</title>



    <link rel="stylesheet" href="~/Assets/Table/css/style.css">


</head>

<body>

    <h1><span class="blue">&lt;</span>Table<span class="blue">&gt;</span> <span class="yellow">Responsive</pan></h1>
    <h2>Created with love by <a href="http://pablogarciafernandez.com" target="_blank">Pablo García Fernández</a></h2>

    <table class="container">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ProductName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Total)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
            </tr>
            }
        </tbody>
    </table>



</body>

</html>
